:root {
    --bgcolor: #0e0e10;
    --fontcolor: #efeff1;
}

* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--bgcolor);
    color: var(--fontcolor);
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}